* {
	-moz-box-sizing : border-box;
	-webkit-box-sizing : border-box;
	box-sizing : border-box;
}


	
	/* TODO margens alternadas */
	.page:nth-child(odd) {
		padding-left: 80px;
		padding-right: 30px;
	}

